body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#myDiv{
  border-style: solid;
  padding-top: 20px;
  text-align: center;
  float: left;
}
